:root {
    /* Color vars */
    --primary-green: #495E57;
    --primary-yellow: #F4CE14;
    --secondary-pink: #EE9972;
    --secondary-peach: #FBDABB;
    --secondary-white: #EDEFEE;
    --secondary-black: #333333;
}

/* Text style vars */
.DisplayTitle {
    font-family: 'Markazi Text', serif;
    font-weight: 500;
    font-size: 64px;
    text-transform: capitalize;
}

.Subtitle {
    font-family: 'Markazi Text', serif;
    font-weight: 400;
    font-size: 40px;
}

.LeadText {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.SectionTitle {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.SectionCategory {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: capitalize;
}

.CardTitle {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
}

.ParagraphText {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    max-width: 65em;
}

.HighlightText {
    color: var(--secondary-pink);
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

body {
    background-color: var(--secondary-white);
}

img, .MainButton, .Card {
    border-radius: 16px;
}

.MainButton {
    background-color: var(--primary-yellow);
    color: var(--secondary-black);
    border: none;
    box-shadow: 0 4px 4px var(--secondary-black);
    transition: 0.2s;
}

.MainButton:active {
    color: var(--secondary-white);
    background-color: var(--primary-green);
    box-shadow: 0 4px 4px var(--secondary-black) inset;
    transition: 0.2s;
}

.Card {
    box-shadow: 0 4px 4px var(--secondary-black);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#root main {
    flex-grow: 1;
}