.ReserveConfirmForm {
    display: flex;
    flex-direction: column;
    width: 50em;
    padding: 2em calc(50% - 25em);
}

.ReserveConfirmForm fieldset {
    border: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 2em;
    margin-block: 2em;
}

.ReserveConfirmForm legend {
    color: var(--primary-green);
    margin-bottom: 0.5em;
}

.ReserveConfirmForm label {
    color: var(--primary-green);
    grid-column: auto;
    grid-row: auto;
    display: flex;
    flex-direction: column;
}

.ReserveConfirmForm label span:not([aria-hidden]) {
    display: flex;
}

.ReserveConfirmForm button {
    width: 12em;
    height: 3em;
    margin: 2em auto auto;
}

/* Styles for invalid fields */
div:has(#fName:user-invalid)::after {
    content: "This field is required.";
}

div:has(#lName:user-invalid)::after {
    content: "This field is required.";
}

div:has(#email:user-invalid)::after {
    content: "This field is required and must be a valid email address.";
}

div:has(#ccName:user-invalid)::after {
    content: "This field is required.";
}

div:has(#address:user-invalid)::after {
    content: "This field is required.";
}

div:has(#city:user-invalid)::after {
    content: "This field is required.";
}

div:has(#state:user-invalid)::after {
    content: "Please choose one of the states.";
}

div:has(#zip:user-invalid)::after {
    content: "This field is required.";
}

div:has(#ccNum:user-invalid)::after {
    content: "This field is required and must be a valid credit card number.";
}

div:has(#expDate:user-invalid)::after {
    content: "This field is required, must be in the form MM/YY, and must not be in the past (i.e., your card must not be expired).";
}

div:has(#threeDigitCode:user-invalid)::after {
    content: "This field is required and must be three digits.";
}

@media only screen and (max-width: 52em) {
    .ReserveConfirmForm {
        width: calc(100% - 2em);
        padding: 2em 1em;
    }

    .ReserveConfirmForm fieldset {
        display: flex;
        flex-direction: column;
    }
}