.ReserveForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2em;
    width: 50em;
    padding: 2em calc(50% - 25em);
}

.ReserveForm div {
    grid-column: auto;
    grid-row: auto;
    display: flex;
    flex-direction: column;
}

#seatingChoice {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5em;
    justify-content: left;
    padding: 0;
    margin: 0;
    border: none;
}

#seatingChoice input[type="radio"] {
    padding: 0;
    margin: 0;
    width: 2em;
}

.ReserveForm > button {
    grid-column: 1/4;
}