nav, nav menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
}

nav {
    width: 50em;
    justify-content: space-between;
    padding: 1em calc(50% - 25em);
}

nav menu {
    justify-content: center;
    padding: 0;
}

nav menu li {
    padding-left: 1em;
}

nav a {
    color: var(--secondary-black);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-pink);
}

nav a:active {
    color: var(--primary-yellow);
}